
python/__pycache__/
.vscode/
cache/
.ipynb_checkpoints/
*.pyc
maps/

*.mx
*.df
*.ox
*.dict
*.tab
*.json

!osmnx_pathfinding_simplified.df
!observations_matched_simplified.df
!dbscan_observations.tab
!voxels_clustered_osmnx.dict
!num_test.tab
!loss.tab
!predict.tab
!mapbox_pathfinding_simplified.df
!unreachable_routes.tab
